body {
	color:#eee;
	font-family:calluna;
	background-attachment:fixed;
	background:gray;
	margin:40px;
}
a {
	color:#eee;
	text-decoration:underline;
}
nav, h1, h2, h3, h4 {
	font-family:ff-dagny-web-pro;
}

nav {
	border:1px solid darkgray;
	padding:20px 40px;
	h2 {
		margin:0 0 20px 0;
		padding:0;
	}
	ol {
		list-style-position: outside;
		padding:0;
		margin:0;
		a {
			color:#eee;
			text-decoration: none;
			-webkit-transition:all .15s;
		}
		a:hover {
			background:lightgray;
			color:gray;
		}
	}
}

article {
	max-width:960px;
	margin:auto;
	h1, h2, h3, h4 {
		text-transform:uppercase;
		font-weight:900;
		font-size:2em;
		margin:0;
		padding:0;
	}
	h2 {
		margin: 40px 0 10px 0;
		strong {font-weight:100;}
	}
	p {
		font-size:16px;
		line-height:20px;
		z-index:2;
		margin:0;
		padding:0;
	}
	p:first-letter {
		margin-left:40px;
	}
	img {
		display:block;
		max-width:100%;
		width:800px;
		margin:40px auto;
	}
	blockquote {
		font-style:italic;
		p:first-letter {
			margin-left:0;
		}
	}
	p:first-of-type:first-letter {
		margin-left:0;
	}
	.center {
		max-width:650px;
		padding:0 150px;
		border-left:1px solid darkgray;
		border-right:1px solid darkgray;
	}
	.left, .right {
		max-width:50%;
	}
	.left {
		padding-right:20px;
		border-right:1px solid darkgray;		
	}
	.right {
		padding-left:20px;
		border-left:1px solid darkgray;
		margin-left:50%;
	}
	.two-col {
		-webkit-column-count: 2;
		-webkit-column-gap: 40px;
		-webkit-column-rule:darkgray solid 1px;
	}
}