	<footer>
		<a href="@root_path/feed/">RSS</a> if @path do / <a href="https://github.com/caseyg/caseyagollan.com/commits/master/master/@path">Page History on Github</a> endif
	</footer>
	<script src="@root_path/docs/js/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="@root_path/docs/js/bootstrap-tooltip.js" type="text/javascript"></script>
	<script src="@root_path/docs/js/waypoints.min.js" type="text/javascript"></script>
	<script src="@root_path/docs/js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
	<script src="@root_path/docs/js/sneezeburg.js" type="text/javascript"></script>
	</body>
</html>