<meta name="robots" content="noindex">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<title>if @title do @title | endif Casey A. Gollan</title>
<link rel="alternate" type="application/atom+xml" href="@root_path/feed/">
<meta name="viewport" content="user-scalable=no">
<link rel="stylesheet" type="text/css" href="@root_path/docs/css/style.css">
<script src="@root_path/docs/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://use.typekit.com/tun0rbf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">
try {
	Typekit.load({
		loading: function() {
			// Javascript to execute when fonts start loading
		},
		active: function() {
			$('#projects ul').isotope('reLayout');
		},
		inactive: function() {
			// Javascript to execute when fonts become inactive
		}
	})
} catch(e) {}
</script>