---
---

@import 'toolbox';

video.mobile {
	transform: scale(.5) skew(10deg) rotate(5deg);
	max-width: 370px;
	width: 20vw;
	padding: 5vw 0;
	border: 2px solid #222;
	border-radius: 25px;
	box-shadow: 0 0 50px rgba(0,255,255,1), 2px 2px 0 #000, 4px 4px 0 #000, 6px 6px 0 #000, 8px 8px 0 #000, 10px 10px 0 #000;
	background: #000;
	margin: auto;
	display: block;
}

section h2 {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}

// Small devices (landscape phones, 34em and up)
@media (min-width: 34em) {

}

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) {
	body#casey-gollan {
		display: flex;
		flex-direction: row;

		section {
			padding: 15px;
			width:25vw;
			flex: 1 1 auto;
		}
	}
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {

}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {

}
