---
---

@import 'toolbox';

body {
		margin: 0;
		padding: 0;
}

html, body {
		position: relative;
		height: 100%;
}


nav {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background: #fff;
	width: 100vw;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	-webkit-overflow-scrolling: touch;
	ul {
		margin: 0;
		padding: 10px;
		list-style-type: none;
		li {
			display: inline;
			a {
				color: blue!important;
				text-decoration: none;
				display: inline-block;
				text-transform: capitalize;;
				color: #000;
				padding: 5px 10px;
			}
			a:active {
				color: red!important;
			}
		}
	}
}

.swiper-container, .swiper-container-v {
		width: 100%;
		height: 100%;
}
.swiper-container-v .swiper-slide {
		padding: 10px 10px 75px 10px;
		box-sizing: border-box;
		height: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
}




.videos {
	background: url('/uploads/phone.png') no-repeat;
	background-size: contain;
	background-position: center;
}

video.mobile {
	transform: scalex(0.35) scaley(.50) skew(12deg) rotate(18deg) translatex(246px) translatey(-325px);
	max-width: 370px;
	width: 20vw;
	margin: auto;
	display: block;
}

section h2 {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}

.range {
	display: block;
	margin: 0;
	padding: 0px;
	border: 0;
	float: left;
	background: #fff;
	a {
		display: inline-block;
		float:left;
		opacity:.80;
		width: 1vw;
		overflow: hidden;
	}
	&:hover {
		background: yellow;
		a:hover {
			opacity: .25;
		}
	}
	a, img {
		margin:0;
		padding:0;
		height:30px!important;
		display:block;
	}
}

.ui-tooltip {
	padding: 10px 20px;
	color: #000;
	border-radius: 0;
	font: 16px Times;
	box-shadow: none;
	background: #fff;
}


// Small devices (landscape phones, 34em and up)
@media (min-width: 34em) {

}

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) {

}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {

}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {

}
