<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		:head-meta
	<script src="@root_path/docs/js/select2.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/@root_path/docs/css/select2.css">
	</head>
	<body id="archive">
	<a name="top"></a>
	:top-nav
	<section id="projects">
		<nav id="filters">
			<h3>Connect</h3>
			<select id="tag-select" data-placeholder="Select a Tag"><option></option></select>
			<div id="options">
				<h3>Sort</h3>
				<ul id="sort-by" class="option-set" data-option-key="sortBy">
					<li><a href="#sortBy=original-order" data-option-value="original-order" class="selected sort-ascending toggle">Date</a></li>
					<li><a href="#sortBy=name" data-option-value="name" class="toggle">Name</a></li>
					<li><a id="shuffle" href="javascript:void(0)" onClick="$('#projects').isotope('shuffle')">Random</a></li>
				</ul>
				<h3>Layout</h3>
				<ul id="layout-mode" class="option-set" data-option-key="layoutMode">
					<li><a href="#layoutMode=masonry" class="selected" data-option-value="masonry">Expanded</a></li>
					<li><a href="#layoutMode=straightDown" data-option-value="straightDown">Condensed</a></li>
				</ul>
			</div>
		</nav>
		<ul>
		foreach $root do
		  <li class="project" id="@slug">
				<p class="date">@date</p>
				if @thumb do <img class="thumb" src="@thumb" /> endif
				if @external_link do
					<h2><a rel="tooltip" data-original-title="<strong>Go to external link:</strong><br /> @external_link" data-placement="bottom" href="@external_link">@title</a> <a class="permalink" rel="tooltip" data-original-title="<strong>Go to project page</strong>" data-placement="bottom" href="@url">∞</a></h2>
				endif
				if !@external_link do
				<h2><a rel="tooltip" data-original-title="<strong>Go to project page</strong>" data-placement="bottom" href="@url">@title</a></h2>
				endif
				if @excerpt do <p class="excerpt">@excerpt</p> endif
				if @tags do <ul class="tags"> @tags </ul> endif
				if @badge do <p class="banner @badge_color"><span>@badge</span></p> endif
		  </li>
		endforeach
		</ul>
		<div id="tag-list" style="display:none;">foreach $root do if @tags do @tags,endif endforeach</div>
	</section>
	<canvas id="canvas" style="display:none;"></canvas>
:footer