<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
	:head-meta
</head>
<body>
<!--
for each project
  for each tag
    print @project.title -- @tag.project.title
-->
<code id="halftone">
      var CLR = {
      tag:"gray",
      project:"blue"
    }<br />
  <span id="tag-list" ,style="display:none;">foreach $root do if @tags do @tags,endif endforeach</span>
  <span id="sorted-tag-list"></span>
  <br />
  <span id="projects">
    foreach $root do
      sys.addNode("@title", {color:CLR.project, alpha:1})<br />
    endforeach
  </span>
  <br />
  foreach $root do
    <project name="@title">
      <tags>@tags</tags>
    </project>
  endforeach
</code>
<script src="/@root_path/docs/js/coffee-script.js" type="text/javascript"></script>
<script type="text/javascript">

// TAG NODES

var tagOutput = $("#tag-list").text();
$("#tag-list").remove();
var tags = new Array();
var tags = $.map(tagOutput.split(','), $.trim);

function eliminateDuplicates(arr) {
  var i,
      len=arr.length,
      out=[],
      obj={};

  for (i=0;i<len;i++) {
    obj[arr[i]]=0;
  }
  for (i in obj) {
    out.push(i);
  }
  return out;
}


function SortByName(a, b){
  var aName = a.toLowerCase();
  var bName = b.toLowerCase(); 
  return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
}

tags.sort(SortByName);

var tags = eliminateDuplicates(tags);

tags.splice(0,1);

$.each(
	tags,
	function( intIndex, objValue ){
	 
		// Create a new LI HTML element out of the
		// current value (in the iteration) and then
		// add this value to the list.
		$("#sorted-tag-list").append('sys.addNode("' + objValue + '", {color:CLR.tag, shape:"dot", alpha:1})<br />');
	}
);

// EDGES

$("project").each(function(){
  var tagList = $(this);
  var name = $(this).attr("name");
  var tagOutput = $(this).text();
  var tags = new Array();
  var tags = $.map(tagOutput.split(','), $.trim);
  tagList.text(" ");
  $.each(
  tags,
  function( intIndex, objValue ){
    tagList.append('<edge>sys.addEdge("' + objValue + '", "' + name + '")</edge><br />');
  });
});

</script>