<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		:head-meta
		<link rel="stylesheet" type="text/css" href="/@root_path/docs/css/select2.css">
	</head>
	<body id="index">
	<a name="top"></a>
	<header>
		<nav id="main">
			<ul>
				<li><a class="active" href="#top">Casey Gollan</a></li>
				<li><a href="#main">Projects</a></li>
				<li><a href="http://notes.caseyagollan.com">Blog</a></li>
				<li><a href="http://twitter.com/CaseyG">Twitter</a></li>
				<li><a href="http://twitter.com/CaseyG">Facebook</a></li>
				<li><a href="mailto:hello@caseyagollan.com">Email</a></li>
			</ul>
		</nav>
		<nav id="background">
			<ul>
				<li><a id="two" href="#"><img src="/images/casey-hula.gif" title="Hula" height="45" /></a></li>
				<li><a id="one" href="#"><img src="/images/casey-ipad.gif" title="iPad" height="45" /></a></li>
				<li><a id="three" href="#"><img src="/images/casey-greenscreen.gif" title="Green Screen" height="45" /></a></li>
			</ul>
		</nav>
	</header>
	<section id="projects">
		<section id="views">
			<h2>Three ways to view projects.</h2>
			<ol class="group">
				<li><a href="/archive"><h3>1. Archive</h3><img src="" alt=""><br>A tagged, connectable, sortable archive.</a></li>
				<li><a href="/infinite-scroll"><h3>2. Infinite-Scroll</h3><img src="" alt=""><br>Everything on one really long scrolling page.</a></li>
				<li><a href="/narratives"><h3>3. Narratives</h3><img src="" alt=""><br>Narratives that fit projects together.</a></li>
			</ol>
		</section>

	</section>
	<section id="about">
		<h2>Contact</h2>
		<p><a href="mailto:hello&#64;caseyagollan.com">hello&#64;caseyagollan.com</a> &bull; <a href="http://twitter.com/caseyg">&#64;CaseyG</a></p>

		<h2>Elsewhere</h2>
		<p><a href="http://twitter.com/caseyg">Twitter</a>, <a href="http://facebook.com/caseygollan">Facebook</a>, <a href="http://pinboard.in/u:caseygollan">Pinboard</a>, <a href="http://reading.am/CaseyG">Reading</a>, <a href="http://mlkshk.com/user/CaseyG">Mlkshk</a>, <a href="http://rhizome.org/profiles/caseyg/">Rhizome</a>, <a href="http://stellar.io/caseyg">Stellar</a>, <a href="http://readmill.com/CaseyG">Readmill</a>, <a href="https://findings.com/caseyg">Findings</a>, <a href="http://last.fm/user/caseygollan">Last.fm</a>, <a href="https://kindle.amazon.com/profile/Casey-Gollan/1239626">Kindle</a>, <a href="http://www.quora.com/Casey-Gollan">Quora</a>, <a href="http://dribbble.com/CaseyG">Dribbble</a>, <a href="http://flickr.com/photos/caseygollan">Flickr</a>, <a href="http://www.goodreads.com/user/show/1861885">Goodreads</a>, <a href="http://www.metafilter.com/user/120538">Metafilter</a></p>
	</section>
	<script type="text/javascript">
		// SIZE HEADER TO FILL SCREEN

		function thirty_pc() {
			var height = $(window).height();
			var navHeight = $("nav#main").height() + 40;
			var thirtypc = height;
			thirtypc = parseInt(thirtypc)/2 + 'px';
			$("header").css("padding-top",(height - navHeight) + 'px');
			$("#views").css("height",height + 'px');
		}

		$(document).ready(function() {
			thirty_pc();
			$(window).bind('resize', thirty_pc);
		});

		$("a#one").hover(function() {$('header').css('background-image','url(/images/casey-ipad.gif)');});
		$("a#two").hover(function() {$('header').css('background-image','url(/images/casey-hula.gif)');});
		$("a#three").hover(function() {$('header').css('background-image','url(/images/casey-greenscreen.gif)');});
	</script>
:footer