<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

:header
	<body id="single">
	<header>
	  <nav id="main">
	    <ul>
	        <li><a href="/">Casey Gollan</a></li>
	        <li>
	          <a href="/#projects" class="active">Projects</a>
	        </li>
	        <li><a href="http://notes.caseyagollan.com">Blog</a></li>
	    </ul>
	  </nav>
	</header>
	<section id="content">
	</section>
	<nav id="project-timeline">
		<ul>
			foreach $root do
				<li><a href="@url" rel="tooltip" data-title="@title" data-original-title="if @thumb do <img src='@thumb' /><br />endif @date <br />@title" if @thumb do style="background-image:url(@thumb);" endif><img src="@thumb"></a></li>
			endforeach
		</ul>
	</nav>

	<script src="@root_path/docs/js/bootstrap-tooltip.js" type="text/javascript"></script>
	<script src="@root_path/docs/js/jquery.blockUI.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).keyup(function(e) {
			switch(e.keyCode) {
				case 37 : current = prev; prev = current.parent().prev().children('a'); next = current.parent().next().children('a'); current.parent().addClass('active'); load(prev.attr('href'), prev.text()); break;
				case 38 : window.location = "/#@slug"; break; // up
				case 39 : current = next; prev = current.parent().prev().children('a'); next = current.parent().next().children('a'); current.parent().addClass('active'); load(next.attr('href'), next.text()); break;
			}
		});

		function load(url, title) {
		console.log("current: " + current.attr('data-title') + ", prev: " + prev.attr('data-title') + ", next: " + next.attr('data-title'));
		// update the URL
			var stateObj = { foo: "bar" };
			history.pushState(stateObj, title, url);
			
		// show blocking overlay

			$.blockUI.defaults.overlayCSS.top = '72px'; 
			$.blockUI.defaults.overlayCSS.opacity = '1'; 
			$.blockUI.defaults.overlayCSS.background = '#eee'; 
	        $.blockUI({
	        	 message: '<img src="/images/big-spinner.gif" />',
	        	css: { 
		            border: 'none', 
		            backgroundColor: 'transparent', 
		            opacity: 1, 
		            color: '#000'
		        } 
    		}); 

		// make sure nothing else is loading or active

			$('*').removeClass('loading').removeClass('active');
			
		// give the current link loading pulse

			current.parent().addClass('loading');
			
			$('#content').load(url + ' article', function() {
				$("#content").imagesLoaded( function( $images, $proper, $broken ) {
					$.unblockUI();
					current.parent().removeClass('loading').addClass('active');
				});
			});
		}

		$('nav#project-timeline a').click(function() {
			current = $(this);
			prev = current.parent().prev().children('a');
			next = current.parent().next().children('a');
			load(current.attr('href'), current.text());
			return false;
		});
		$('nav#project-timeline').tooltip({
		  selector: "a[rel=tooltip]",
		  placement: "bottom",
		  animation: true
		});
		function timelineStretch() {
			var w = $(window).width();
			var n = $("nav#project-timeline ul li").size();

			console.log(w + ", " + n);

			$("nav#project-timeline ul").css("width",w);
			$("nav#project-timeline ul li a").css("width",w/n+"px");
		}
		$(document).ready(function() {
			timelineStretch();
			$(window).bind('resize', timelineStretch);
		});
	</script>
	<style type="text/css">
		#content {margin-top:75px;}
		nav#project-timeline li {
			cursor:hand;
		}
		nav#project-timeline li.visited a {
			opacity:.5!important;
		}
		nav#project-timeline li.visited, nav#project-timeline li.active {
			background-color:blue;
		}
		nav#project-timeline li.loading {
		    -webkit-animation: pulsate 1s ease-out;
		    -webkit-animation-iteration-count: infinite; 
		}
		@-webkit-keyframes pulsate {
		    0% {opacity:1;}
		    100% {opacity:0;}
		}
	</style>
	:footer