<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

:header
	<body id="single">
	:top-nav
	<article>
		<header>
			if @date do <p class="date">@date</p> endif
			<h1>@title</h1>
			if @external_link do
				if !@link_label do
					<a href="@external_link" class="external-link" title="external link: @external_link">Visit Project</a>
				endif
			endif
			
			if @external_link do
				if @link_label do
					<a href="@external_link" class="external-link" title="external link: @external_link">@link_label</a>
				endif
			endif
		</header>

		if @content do 
			<section class="content">
				@content
			</section> 
		endif
		if !@hide_media do 
			<section class="media">
				:media
			</section> 
		endif
	</article>
:footer