---
layout: default
---

<div class="swiper-container swiper-container-h top-container-h">
		<div class="swiper-wrapper top-wrapper-h">
			<section id="about" data-hash="about" class="swiper-slide">
				<div class="swiper-container-v">
						<div class="swiper-wrapper">
								<div class="swiper-slide">
									<h2>Casey Gollan</h2>
									{% include home.html %}
								</div>
						</div>
						<!-- Add Scroll Bar -->
						<div class="swiper-scrollbar"></div>
				</div>
			</section>
			<section id="bibliography" data-hash="bilbiography" class="swiper-slide">
				<div class="swiper-container-v">
						<div class="swiper-wrapper">
								<div class="swiper-slide">
									<h2>Bibliography</h2>
									{% include reading.html %}
								</div>
						</div>
						<!-- Add Scroll Bar -->
						<div class="swiper-scrollbar"></div>
				</div>
			</section>
			<section id="dictionary" data-hash="dictionary" class="swiper-slide">
				<div class="swiper-container-v">
						<div class="swiper-wrapper">
								<div class="swiper-slide">
									<h2>Dictionary</h2>
									{% include define.html %}
								</div>
						</div>
						<!-- Add Scroll Bar -->
						<div class="swiper-scrollbar"></div>
				</div>
			</section>
			<section id="files" data-hash="files" class="swiper-slide">
				<div class="swiper-container-v">
						<div class="swiper-wrapper">
								<div class="swiper-slide">
									<h2>Files</h2>
									{% include files.html %}
								</div>
						</div>
						<!-- Add Scroll Bar -->
						<div class="swiper-scrollbar"></div>
				</div>
			</section>
		</div>
</div>
<nav class="swiperControl swiper-container">
	<ul class="swiper-wrapper">
		<li class="swiper-slide">about</li>
		<li class="swiper-slide">bibliography</li>
		<li class="swiper-slide">dictionary</li>
		<li class="swiper-slide">files</li>
	</ul>
</nav>
