---
layout: default
---
{% for range in page.ranges  %}
	<div class="range" title="<strong>{{ range.Description }}</strong> at <strong>{{ range.At }}</strong> in <strong>{{ range.In }}</strong>{% if range.People.size > 0 %}<br>with <strong>{{ range.People }}</strong>{% endif %}">
	{% for i in ({{range.Start}}..{{range.End}})  %}
		<a href="#{{ i }}"><img src="{{ i }}.{{page.format}}" height="30px"></a>
	{% endfor %}
	</div>
{% endfor %}	

<!-- {% for page in page.pages %}
	<a href="#{{ forloop.index }}"><img src="{{ forloop.index }}.png" height="30px"></a>
{% endfor %} -->

<table>
	{% for notepage in page.pages %}
	<tr id="{{ forloop.index }}">
		<td>
			{{ forloop.index }}
		</td>
		<td>
			<img src="{{ forloop.index }}.{{page.format}}">
		</td>
		<td>
			{% if notepage.tags %}<strong>Tags:</strong> {{ notepage.tags | array_to_sentence_string }}<br>{% endif %}
			{% if notepage.people %}<strong>People:</strong> {{ notepage.people | array_to_sentence_string }}<br>{% endif %}
			{% if notepage.text %}{{ notepage.text | markdownify }}{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
	$(function () {
		$(document).tooltip({
			track: true,
	        delay: 0,
	        show: { effect: "fade", duration: 0 },
	        hide: { effect: "fade", duration: 0 },
			content: function () {
				return $(this).prop('title');
			}
		});
	});
</script>
<link rel="stylesheet" href="/assets/styles/minimap.min.css" />
<script src="/assets/js/minimap.min.js"></script>